<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This generates a new module consisting of a state view, view, view model and view data</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>New module name:</string>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___View</string>
			<key>Name</key>
			<string>View name:</string>
			<key>Identifier</key>
			<string>view</string>
			<key>Description</key>
			<string>The view name</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___StateView</string>
			<key>Name</key>
			<string>State view name:</string>
			<key>Identifier</key>
			<string>stateView</string>
			<key>Description</key>
			<string>The state view name</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___ViewData</string>
			<key>Name</key>
			<string>View data name:</string>
			<key>Identifier</key>
			<string>viewData</string>
			<key>Description</key>
			<string>The view data name</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___ViewModel</string>
			<key>Name</key>
			<string>View model name:</string>
			<key>Identifier</key>
			<string>viewModel</string>
			<key>Description</key>
			<string>The view model name</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
